/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public
/public
.idea
firebase-debug\.log
/.idea/develop.iml
/.idea/php.xml
.idea/develop.iml
.idea/php.xml